:root {
    --primary-color: #A0CABA;
    --secondary-color: rgba(0, 0, 0, 0.6);
    --body-bg: #2F253A;
    --container-bg: #dcede9;
    --border-color: #DEE2E6;
    --text-color: #051012;
    --input-bg: #FFFFFF;
    --green: #28A745;
    --btn-hover: #2db747;
    --btn-remove: #DC3545;
    --btn-remove-hover: red;
    --focus-color: #051012;
    --search-result-bg: #FFFFFF;
    --color-1: #C59D06;
    --color-2: #E95D2E;
    --color-3: #E9E9E9;
    --color-4: #A0CABA;
}
/* 28A745 */
/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
            url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23C9040F' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%232B2137'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23238F71'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23CB8338'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.about {
    color: var(--secondary-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.headline {
    font-size: clamp(2.5rem, 7.5vw, 7.5rem);
    /* line-height: 1.2; */
    overflow-wrap: break-word;
    hyphens: auto;
  }

body {
    background-color: var(--body-bg);
    font-family: "Playfair Display", serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    position: relative;
    /* background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%, var(--color-4) 100%); */
}

h1 {
    /* color: var(--text-color);
    font-size: 7em; */
    margin-bottom: 20px;
    margin-top: -20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--green);
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover);
    transform: scale(1.05);
}

/*           inputs              */


input:disabled {
    background-color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}

input:disabled::placeholder {
    color: #aaaaaa;
}

input::placeholder {
    color: #000000;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    background-color: var(--input-bg);
    transition: border-color 0.3s, box-shadow 0.3s;
    border: none;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border: none;
}

input[type="text"],
select,
button {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/*  container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--container-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    width: 80%;
    opacity: .98;
    border-radius: 0px 0px 20px 20px;

}

/* make the inputs and selects have a border */
.container input[type="number"],
.container input[type="text"],
.container select {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    background-color: var(--input-bg);
    transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #78c1b4; /* Add the border here */
}

/* Content area  */
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1px;
    flex-wrap: wrap;
    border: 6px solid #eef8f6;
    background-color: #eef8f6;
    border-radius: 15px 15px 15px 15px;

}

.fa-arrow-right {
    transform: rotate(-25deg); /* Rotate the icon by 90 degrees */
}



.car-image {
    max-width: 100%;  
    height: 250px;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    object-fit: contain; 
}

p {
    text-align: center;
}

.box_success {
color: var(--green);
}

.box_warning {
    color: #C88139;
}

.box_error {
    color: #C60610;
}
.hero-text-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Ensures image and text content are side by side */
    align-items: start; /* Align items at the top */
    gap: 20px; /* Add some space between image and text content */
    border-radius: 5px;


}

/* Add padding and margin adjustments for the paragraph and list */
.hero-text-container p,
.hero-text-container ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Center the ul within its container while keeping the text left-aligned */
.hero-text-container ul {
    list-style-type: none; /* Remove bullet points */
    display: inline-block; /* Make the ul inline-block to center it */
    text-align: left; /* Left-align the text inside the ul */
}

.hero-text-container li {
    width: 100%; /* Make sure each li takes the full width */
    text-align: left; /* Left align the text within each li */
    margin-bottom: 10px; /* Add some space between list items */
}

.left-column,
.right-column {
    width: 48%;
    /* margin-bottom: 20px; */
}

/* vehicle */

.vehicle-selector {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.dimensions {
    border-radius: 5px;
    padding: 10px;
    
}
.dimensions-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.vehicle-selector select,
.vehicle-selector input,
.search-container input {
    flex: 1;
    min-width: 0;
}

/* search */

.search-results {
    position: absolute;
    border-radius: 1px;
    /* border: 2px solid var(--green); */
    bottom: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.search-results div {
    padding: 10px;
    border-left: 6px solid rgba(162, 232, 219, .9);
    border-right: 6px solid rgba(162, 232, 219, .9);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search-results > div:first-child {
    border-top: 6px solid rgba(162, 232, 219, .9);
}

.search-results > div:last-child {
    border-bottom: 6px solid rgba(162, 232, 219, .9);
}


.search-results div:hover {
    /* border: 1px solid var(--border-color); */
    background-color: rgba(160, 229, 216, 1);
    color: black;
}

#selectedProducts {
    list-style: none;
    padding: 0;
    width: 100%;
  
}

#selectedProducts li {
    padding: 10px;
    border: 1px solid var(--border-color);
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: var(--search-result-bg);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-search-item {
    background-color: var(--search-result-bg);
}

.product-search-item button {
    background-color: var(--btn-remove);
    font-size: 10px;
    padding: 5px 10px;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;

}

.product-search-item button:hover {
    background-color: var(--btn-remove-hover);
    transform: scale(1.05);
}


/* prepend fit status for products*/

/* check f00c */
/* space \0020 */
/* box f466 */
.product-search-item.fits:before {
    font-family: FontAwesome;
    font-size:x-large;
    content: "\f00c"; /* Replace with your desired icon code */
    color: var(--green);
  }
  
  /* warning f071 */
  .product-search-item.HangsOut:before {
    font-family: FontAwesome;
    font-size:x-large;
    content: "\f071";
    color: #C88139;
  }
  
  /* error circle f06a */
  .product-search-item.noFit:before {
    font-family: FontAwesome;
    font-size:x-large;
    content: "\f06a"; /* Replace with your desired icon code   \0020*/
    color: #C60610;
  }

/* responsive */

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

@media (max-width: 768px) {
    body {
        .container {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
        }
    }

    h1 {
        font-size: 8vmin;
    }

    .car-image {
        max-width: 30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .fa-arrow-right {
        transform: rotate(90deg); /* Rotate the icon by 90 degrees */
    }

    /* p {
        font-size: 2.9vmin;
    } */


    .left-column,
    .right-column {
        width: 100%;
    }

    .hero-text-container {
        grid-template-columns: 1fr; /* Change to a single column layout */
        text-align: center; /* Center the text content in smaller screens */
        border: #28A745;
        
    }

    /* .hero-text-container img {
        display: block;  
        margin: 0 auto;  
        width: 40%;  
        height: auto;  
    } */

    .hero-text-container p {
        text-align: center;
    }

    .hero-text-container ul {
        text-align: left; /* Align text to the left for readability */
        margin: 0 auto; /* Center the text block within the container */
        max-width: 90%; /* Optional: Limit the width of the text block */
    }
}

.removeButton {
    display: flex; /* Make the button a flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center;
    width: 4vh;
    height: 4vh;
    cursor: pointer;

}

.removeButton i {
    font-size: 14px; /* Adjust font size as needed */
  }



/* .vehicle-selector {
    position: relative;
}

.vehicle-selector select {
    padding-left: 30px; 
 } */

/* .vehicle-selector::before {
    content: '\f1b9';
   
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
} */

/* .font-awesome .fa {
    font-family: "Font Awesome 5 Free", Open Sans;
    font-weight: 501;
} */